.custom_input{
    display: flex;
    padding: .5em;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
}
.color{
    background-color: #F1F1F1;
}
.title{
    width: 40%;
}
.select{
    margin: auto 1em;
    height: 40px;
    width: 300px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: white;
}
.select:focus{
    outline-color: #ff9e23;
}
.border{
    border: 1px solid rgb(168, 166, 166);
    min-width: 278px;
    border-radius: .3em;
    padding: 0 10px;
    width: fit-content;
}
.fixer{
    position: relative;
}
.modal{
    position: absolute;
    background-color: white;
    border-radius: .3em;
    border: 1px solid rgb(168, 166, 166);
    width: 350px;
    height: 150px;
    left: 1em;
    overflow: scroll;
    scroll-behavior: smooth;
}
.list{
    padding: .5em .2em ;
}
.list:hover{
 color: orange;
}
.none{
    display: none;
}
.border:focus{
    outline-color: #ff9e23;
}
.quote{
    composes: select;
    composes: border;
    text-align: right;
}
.space{
    display: flex;
    height: 20px;
    padding-left: 1em;
    margin-top: .5em;
}
@media (max-width: 992px) {
    span{
        display: none;
    }
}
