.header{
    padding: 1.3em 180px;
    min-width: 380px;
    height: 70px;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(231, 228, 228, 0.6);
}
.header_subtitle{
    margin-top: .2em;
    width: fit-content;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    background-color: #cacac9;
    display: flex;
    padding: auto;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    color: white;
    border-radius: 25px;
}
@media (max-width: 992px) {
    .header{
        padding: 1.3em 100px;
    }
}