.bigContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.total{
    flex-direction: column;
    margin-bottom: 2em;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.noHover{
    composes: container;
}

.cards{
    background-color: rgb(255, 255, 255);
    height: 50px; 
    width: 15%;
    border: 1px solid #b7b7b7;
    box-shadow: 0 4px 0 #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: .3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 700;
    font-size: .7rem;
}
.container:hover{
    color: #ff9e23;
   }
.bigContainer svg{
    margin: auto 1em;
    display: flex;
    flex-direction: row;
}
.bigContainer svg:hover{
    fill: #ff9e23;
}
.bigCards{
    composes: cards;
    background-color: rgb(243, 243, 243);
    flex: 1;
    border: none;
    
}
.bigCards:hover{
    color: black;
}
.noHover:hover{
    color: black;
}
.total svg{
    margin: 1em;
}
.total svg:hover{
    fill: #ff9e23;
}